@font-face {
    font-family: "RuthlessWreckinOne-7YlK";
    src: url("/RuthlessWreckinOne-7YlK.ttf") format("truetype");
}

@font-face {
    font-family: "SpriteGraffiti-Shadow";
    src: url("/SpriteGraffiti-Shadow.woff2") format("woff2");
}

* {
    max-width: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: url(/patterns/white-waves.png);
    /* background-image: url(/patterns/old_map_@2X.png); */
    /* background-image: url(/patterns/full-bloom.png); */
    /* background-image: url(/patterns/memphis-colorful.png); */
    /* background-image: url(/patterns/congruent_pentagon.png); */
    /* background-image: url(/patterns/more-leaves.png); */
}

h1 {
    /* letter-spacing: 13px; */
    /* font-family: "Permanent Marker", cursive; */
    font-family: RuthlessWreckinOne-7YlK;
    font-size: 70px;
    text-align: center;
    text-shadow: 5px 5px 2px #c62828;
}

#main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
    column-gap: 2%;
    row-gap: 0.5%;
    margin-left: 5%;
    margin-right: 5%;
}

/* ////////////////////////// INPUTFIELDS ////////////////////////// */

#inputfields {
    background-color: white;
    opacity: 0.6;
    grid-column: 1 / 4;
    height: 210px;
    width: 100%;
    padding: 20px;
    border-radius: 2%;
}

ion-icon {
    font-size: 32px;
    --ionicon-stroke-width: 32px;
    transform: translateY(10px);
    margin-left: 10px;
}

input {
    height: 30px;
    font-size: 20px;
    background-color: white;
    padding: 0 5px;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
    box-shadow: 8px 6px 30px 0px grey;
}

input:hover {
    background-color: rgb(247, 247, 247);
}

input:focus {
    outline: none;
    background-color: rgb(247, 247, 247);
}

#title,
#description,
#username,
#inputfile {
    /* margin-right: 200px; */
    width: 350px;
}

.flexbox {
    display: flex;
    justify-content: space-evenly;
}

button {
    background-color: orange;
    color: white;
    width: 150px;
    height: 50px;
    font-size: 30px;
    text-align: center;
    border: none;
    /* border: 2px solid grey; */
    border-radius: 25px;
    /* margin: 20px, auto, 20px, auto; */
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    display: block;
    cursor: pointer;
}

button:hover {
    /* border: 2px solid black; */
    /* color: black; */
    background-color: rgb(230, 150, 2);
}

button:active {
    transform: translateY(2px);
}

button:focus {
    outline: none;
}

/* ////////////////////////// IMAGES ////////////////////////// */

.image {
    background-color: white;
    height: 300px;
    width: 100%;
    margin: 0;
    border: 1px solid grey;
    border-radius: 5%;
    text-align: center;
}

img {
    width: 100%;
    height: 88%;
    padding: 1%;
    object-fit: cover;
    overflow: hidden;
    border-radius: 5% 5% 0 0;
}

figcaption {
    font-family: SpriteGraffiti-Shadow;
    /* font-family: "Baloo Tamma 2", cursive; */
    font-size: 24px;
}

/* ////////////////////////// MODAL ////////////////////////// */

.component {
    background-image: url(/patterns/so-white.png);
    position: fixed;
    top: 5%;
    right: 5%;
    bottom: 5%;
    left: 5%;
    opacity: 0.95;
}

#x {
    font-family: "SpriteGraffiti-Shadow";
    cursor: pointer;
    position: absolute;
    top: 5px;
    right: 5px;
}

#img-modal {
}

@media screen and (min-width: 320px) and (max-width: 540px) {
}

/* Background pattern from Toptal Subtle Patterns */
