* {
    max-width: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* background: white; */
}

body {
    background-image: url(/more-leaves.png);
}

h1 {
    font-family: "Permanent Marker", cursive;
    font-size: 70px;
    letter-spacing: 13px;
    text-align: center;
}

/* ////////////////////////// INPUTFIELDS ////////////////////////// */

#main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
    gap: 2%;
    margin-left: 5%;
    margin-right: 5%;
}

#inputfields {
    background-color: white;
    grid-column: 1 / 4;
    height: 100px;
    /* padding: 50px; */
    border-radius: 3%;
}

ion-icon {
    font-size: 32px;
    --ionicon-stroke-width: 32px;
}

input {
    height: 30px;
    /* width: 90%; */
    font-size: 20px;
    background-color: white;
    padding: 0 5px;
    border: none;
    border-radius: 5px;
    box-shadow: 8px 6px 20px 0px black;
}

input:hover {
    background-color: rgb(231, 228, 228);
}

input:focus {
    outline: none;
    background-color: rgb(231, 228, 228);
}

#title,
#username {
    margin-right: 30px;
    width: 250px;
}

#description {
    width: 800px;
}

/* .labelfile {
    width: 250px;
} */

/* .inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile, */
/* .labelfile */
/* label {
    font-size: 1.25em;
    font-weight: 700;
    color: white;
    background-color: black;
    display: inline-block;
}

.inputfile:focus,
.inputfile, */
/* .labelfile, */
/* label,
label:hover */
/* .labelfile:hover */ {
    /* background-color: rgb(231, 228, 228);
}

.inputfile, */
/* .labelfile */
/* label {
    cursor: pointer;
}

.inputfile:focus, */
/* .labelfile */
/* label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
} */

button {
    background-color: white;
    color: grey;
    width: 20%;
    height: 35px;
    font-size: 20px;
    text-align: center;
    border: 2px solid grey;
    border-radius: 25px;
    margin: 30px 40% 30px 40%;
    cursor: pointer;
}

button:hover {
    border: 2px solid black;
    color: black;
}

button:active {
    transform: translateY(2px);
}

button:focus {
    outline: none;
}

/* ////////////////////////// IMAGES ////////////////////////// */

.image {
    /* height: 1fr; */
    /* height: 100%; */
    height: 300px;
    width: 1fr;
    /* width: 100%; */
    background-color: white;
    margin: 0;
    border: 1px solid grey;
    border-radius: 5%;
    text-align: center;
}

img {
    width: 100%;
    height: 90%;
    padding: 1%;
    object-fit: cover;
    overflow: hidden;
    border-radius: 5% 5% 0 0;
}

.image label {
    font-family: "Baloo Tamma 2", cursive;
}

/* Background pattern from Toptal Subtle Patterns */