<!DOCTYPE html>
<html>
    <head>
        <title>My Imageboard</title>
        <link rel="stylesheet" href="/css/styles.css" />
    </head>

    <body>
        <h1>My Imageboard with MSG</h1>

        <!-- this container is for our Vue instance! It will have access to our Vue code. -->
        <div id="main">
            <h2>Hi {{ name }}! I can't wait to meet you all in person :) </h2>

            <h2>2*2 = {{ 2* 2 }}</h2>

            <h2>Name capitalized {{ name.toUpperCase() }}</h2>

            <!-- if-statement / conditional: -->
            <h3 v-if="seen">Yay, you can see me!</h3>
            <!-- else-statement has to come right after if-statement -->
            <h3 v-else>"seen" is falsey if you see this!</h3>

            <!-- LOOPING IN VUE -->
            Cities:
            <ul>
                <!-- "city" can be named anything, is like "i", could also be e.g. "each". "cities" refers to data property "cities" in script.js -->
                <li v-for="city in cities" @click="myFunction">{{ city.name }}, {{ city.country }}</li>
                <!-- on every click function runs
                also possible syntax for function: v-on -->
            </ul>


        </div>

        <script src="/js/vue.js"></script>
        <script src="/js/axios.min.js"></script>
        <script src="/js/script.js"></script>
    </body>
</html>
